.data-table {
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
    max-height: 400px;
}

.data-table th,
.data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
    color: black;
    border-bottom: 2px solid #000;
}

.data-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.data-table tr:hover {
    background-color: #ddd;
}

.data-table td {
    border-bottom: 1px solid #ddd;
}
.data-table-body {

}