.product-inventory-page-container {
    padding: 20px;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.input-container label {
    display: flex;
    align-items: center;
    margin-right: -40px; /* 라벨과 입력란 사이의 간격 조정 */
}

.input-container input {
    margin-left: 5px;
    padding: 5px;
}

.dropdown-container {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination {
    list-style: none;
    display: flex;
    padding: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    border: 1px solid #ddd;
    padding: 10px 15px;
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

.page-item.disabled .page-link,
.page-item.active .page-link {
    color: #6c757d;
    background-color: #e9ecef;
    border-color: #dee2e6;
    cursor: default;
}

.page-item.active .page-link {
    font-weight: bold;
    cursor: default;
}
