.Main-container {
    display: flex;
    justify-content: space-around; /* 아이템 사이에 여유 공간을 추가합니다 */
    align-items: flex-start; /* 아이템들을 위쪽에 정렬합니다 */
    gap: 20px; /* 아이템 사이에 간격을 추가합니다 */
}

.item {
    flex: 1; /* 각 아이템이 동일한 비율로 공간을 차지하도록 설정합니다 */
    min-width: 300px; /* 각 아이템의 최소 너비를 설정합니다 */
}

.container {
    display: flex;
    justify-content: center;
  }
  
.box {
    border: 2px solid #ccc; /* 테두리 스타일과 색상 지정 */
    padding: 20px; /* 내부 여백 설정 */
    margin-bottom: 20px; /* 아래쪽 여백 설정 */
}